<% if model.errors.any? %>
  <div class="error-messages-box">
    <h2 class="error-title"><%= pluralize(model.errors.count, "error") %> prohibited this product from being saved:</h2>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class ="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>